Workflow
{
  "name": "Gran Hermano Generación Dorada",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-832, 96],
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=Gran+Hermano+Generaci%C3%B3n+Dorada+when:3d&hl=es-419&gl=AR&ceid=AR:es-419"
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [-624, 96],
      "name": "RSS Read"
    },
    {
      "parameters": { "maxItems": 10 },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [-416, 96],
      "name": "Limit"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.title }}",
              "rightValue": "Gran Hermano",
              "operator": { "type": "string", "operation": "contains" }
            },
            {
              "leftValue": "={{ $json.pubDate }}",
              "rightValue": "={{ $now.minus({ days: 3 }) }}",
              "operator": { "type": "dateTime", "operation": "after" }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-208, 96],
      "name": "If"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [{ "fieldName": "pubDate", "order": "descending" }]
        }
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [0, 0],
      "name": "Sort"
    },
    {
      "parameters": { "maxItems": 6 },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [208, 0],
      "name": "Limite 2"
    },
    {
      "parameters": {
        "modelId": { "value": "models/gemini-2.5-flash" },
        "messages": {
          "values": [
            {
              "content": "=Selecciona las 3-5 noticias más importantes del día de esta lista JSON: {{ JSON.stringify($input.all()) }}\n\nResponde SOLO con JSON válido, nada más:\n{\n  \"subject\": \"Resumen Diario: Noticias Relevantes de Gran Hermano Generación Dorada - {{ $now.format('dd MMMM yyyy') }}\",\n  \"items\": [\n    {\n      \"title\": \"Título de la noticia\",\n      \"description\": \"Resumen neutral en 2-3 oraciones objetivas\",\n      \"link\": \"url completa\",\n      \"source\": \"La Nación\"\n    }\n  ]\n}"
            }
          ]
        },
        "jsonOutput": true
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [464, 0],
      "name": "Message a model"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            { "fieldToAggregate": "content", "outputFieldName": "emailData" }
          ]
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [816, 0],
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "/* Código JavaScript para formatear el correo en HTML */"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1024, 0],
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "destinatarios@ejemplo.com",
        "subject": "=Resumen Diario: Noticias Relevantes de Gran Hermano Generación Dorada - {{ $now.format('dd MMMM yyyy') }}",
        "message": "={{ $json.body }}",
        "options": { "senderName": "Noticias Gran Hermano 2026" }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [1232, 0],
      "name": "Send a message"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [1440, 0],
      "name": "Send a message1"
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "RSS Read" }]] },
    "RSS Read": { "main": [[{ "node": "Limit" }]] },
    "Limit": { "main": [[{ "node": "If" }]] },
    "If": { "main": [[{ "node": "Sort" }]] },
    "Sort": { "main": [[{ "node": "Limite 2" }]] },
    "Limite 2": { "main": [[{ "node": "Message a model" }]] },
    "Message a model": { "main": [[{ "node": "Aggregate" }]] },
    "Aggregate": { "main": [[{ "node": "Code in JavaScript" }]] },
    "Code in JavaScript": { "main": [[{ "node": "Send a message" }]] },
    "Send a message": { "main": [[{ "node": "Send a message1" }]] }
  }
}
